*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(195, 192, 192);
   
}
.header h2{
    font-size: 30px;
    text
}
.header h3{
    margin-top: 13px;
}

.mywork{
    text-align: center;
}
.container{
    background-color: rgb(254, 254, 254);
    display: flex;

}

.card{
  
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.card .img{
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.card h3{
    margin: 8px  ;
    font-size: 20px;
    font-weight: 300;
}
.card p{
    margin: 15px 90px 15px;
    font-size: 12px;
}

/* footer{
    background-color: rgb(195, 192, 192);
    text-align: center;
    height: 100px;

} */
.footer{
    background-color: rgb(195, 192, 192);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}






